*
  @apply box-border m-0 p-0

html
  -webkit-text-size-adjust: none

body
  @apply bg-cover bg-fixed bg-no-repeat bg-red-blue-gradient

p, button, span, textarea
  @apply font-arial-helvetica #{!important}

h1, h2, h3
  @apply font-nunito font-black select-none #{!important}

h4, h5, h6
  @apply font-nunito font-bold #{!important}

input, button, textarea
  @apply outline-none

button
  @apply cursor-pointer

.popup
  @apply z-10 top-0 left-0 w-screen h-screen bg-black bg-opacity-70 opacity-100 fixed
  animation: fade-in .6s ease

.registration-and-subjects-container
  @apply z-20 fixed bg-white rounded-2xl py-[20px] px-[40px] flex flex-col justify-around items-center top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  animation: move-up 1s ease

  h2
    @apply text-6xl
  h3
    @apply text-5xl text-center mb-[20px]
  input
    @apply w-full p-[10px] rounded-2xl text-2xl bg-none mb-[20px] border-solid border-2 border-[#aaa]

@keyframes fade-in
  0%
    @apply opacity-0
  100%
    @apply opacity-100

@keyframes move-up
  0%
    @apply translate-y-0 -translate-x-1/2
  100%
    @apply -translate-y-1/2 -translate-x-1/2

@media screen and ( max-width: 1250px )
  html
    @apply text-[80%]