// Colors and Variables

$primary-color: #4882ff

// Main styling
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    -webkit-text-size-adjust: none

body
    background-size: cover
    background-attachment: fixed
    background-repeat: no-repeat
    background-image: url("red-blue-gradient.jpg")

p, button, span, textarea
    font-family: Arial, Helvetica, sans-serif

h1, h2, h3
    font-family: 'Nunito Sans', sans-serif
    font-weight: 900
    user-select: none

h4, h5, h6
    font-family: 'Nunito Sans', sans-serif
    font-weight: 700

input, button, textarea
    outline: none

button
    cursor: pointer

.popup
  z-index: 99
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  position: fixed
  background: rgba(0, 0, 0, .7)
  opacity: 1
  animation: fade-in .6s ease

.registration-and-subjects-container
    z-index: 100
    position: fixed
    background: #fff
    border-radius: 1rem
    padding: 20px 40px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    animation: move-up 1s ease
    h2
        font-size: 3.2rem
    h3
        font-size: 3rem
        text-align: center
        margin-bottom: 20px
    input
        width: 100%
        padding: 10px 10px
        border: 2px solid #aaa
        border-radius: .5
        border-radius: 1rem
        font-size: 1.5rem
        background: none
        margin-bottom: 20px

// Animations

@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes move-up
    0%
        transform: translateY(0%) translateX(-50%)
    100%
        transform: translateY(-50%) translateX(-50%)

// Mobile and small screens support

@media screen and ( max-width: 1250px )
    html
        font-size: 80%
