*
  @apply box-border m-0 p-0

html
  -webkit-text-size-adjust: none

body
  @apply bg-cover bg-fixed bg-no-repeat bg-red-blue-gradient

p, button, span, textarea
  @apply font-arial-helvetica #{!important}

h1, h2, h3
  @apply font-nunito font-black select-none #{!important}

h4, h5, h6
  @apply font-nunito font-bold #{!important}

input, button, textarea
  @apply outline-none

button
  @apply cursor-pointer

.popup
  @apply z-10 top-0 left-0 w-screen h-screen bg-black bg-opacity-70 opacity-100 fixed
  animation: fade-in .6s ease

.registration-and-subjects-container
  @apply z-20 fixed bg-white rounded-2xl py-[20px] px-[40px] flex flex-col justify-around items-center top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  animation: move-up 1s ease

  h2
    @apply text-6xl
  h3
    @apply text-5xl text-center mb-[20px]
  input
    @apply w-full p-[10px] rounded-2xl text-2xl bg-none mb-[20px] border-solid border-2 border-[#aaa]

@keyframes fade-in
  0%
    @apply opacity-0
  100%
    @apply opacity-100

@keyframes move-up
  0%
    @apply translate-y-0 -translate-x-1/2
  100%
    @apply -translate-y-1/2 -translate-x-1/2

@media screen and ( max-width: 1250px )
  html
    @apply text-80%




.app--window-wrapper
  @apply overflow-hidden w-full h-full fixed flex flex-col items-center py-4 px-20vw
  h2
    @apply mb-2 text-4xl

.app--logo
  user-drag: none
  @apply h-15vw fixed left-8 bottom-8 select-none

.app--logo-vercel
  @apply fixed right-8 bottom-8
  img
    user-drag: none
    @apply w-15vw select-none

@media screen and ( max-width: 1250px )
  .app--window-wrapper
    h2
      @apply text-3xl
  .app--logo, .app--logo-vercel
    @apply hidden




.button--button
  @apply text-xl rounded-lg capitalize border-none py-10px px-20px scale-100 transform transition-shadow-transform ease-ease
  line-height: normal
  @apply hover:scale-105 hover:duration-150 hover:shadow-dtm-10px
  @apply active:scale-95 active:duration-50 active:shadow-none
  @apply disabled:bg-aaa disabled:transition-none disabled:transform-none disabled:shadow-none disabled:cursor-default

.button--primary
  @apply bg-primary text-white
  @apply disabled:bg-primary-disabled

.button--link
  @apply p-0 underline cursor-pointer border-none bg-none text-069 text-base




.chat--new-question-button
  @apply float-left normal-case

.chat--title-container
  @apply py-10px px-0 w-800px inline-block text-center

.chat--chat-wrapper
  @apply w-full flex-grow flex flex-col justify-between

.chat--content-wrapper
  @apply w-800px flex-grow h-full overflow-y-hidden flex justify-between

.chat--subject-title
  @apply inline

.chat--conversation-container
  @apply relative flex flex-col-reverse overflow-y-auto overflow-x-hidden flex-grow w-full rounded-2xl mb-4 py-20px px-40px bg-white bg-opacity-70

  .chat-bubble--from, .chat-bubble--to
    width: fit-content
    width: intrinsic
    width: -moz-max-content
    width: -webkit-max-content
    @apply break-words relative my-4 mx-0 max-w-90% rounded-lg flex flex-shrink-0 items-center whitespace-pre-wrap p-5 opacity-100 shadow-dtm-15px
    &::after
      @apply absolute bottom-4 w-0 h-0 border-t-12 border-b-12 border-solid border-transparent
  .sending
    @apply bg-opacity-30
  .chat-image
    @apply max-w-90% text-center max-h-50vh
  .from-user
    @apply absolute -top-6 text-lg text-666 whitespace-nowrap
  .chat-bubble--from
    animation: bubble-left .4s ease
    @apply bg-white
    &::after
        @apply -left-12 border-r-12 border-solid border-white
    img
        @apply max-w-full
  .chat-bubble--to
    animation: bubble-right .4s ease
    @apply ml-auto bg-primary
    .chat-text
      @apply text-white
    .from-user
      @apply right-2
    &::after
      @apply -right-3 border-l-12 border-solid border-primary
    img
      @apply max-w-full

.chat--input-container
  height: fit-content
  height: intrinsic
  height: -moz-max-content
  height: -webkit-max-content
  @apply flex flex-shrink-0 items-center w-full rounded-2xl bg-white bg-opacity-70 pt-2 pr-2 pb-2 pl-4
  .chat-input
    @apply my-2 mx-0 border-none rounded-none w-full text-2xl bg-transparent max-h-18vh overflow-y-auto resize-none 
  .file-input
    @apply hidden
  .select-image-button, .send-message-button
    @apply bg-no-repeat bg-center bg-60% p-6
  .select-image-button
    @apply mr-2
  .send-message-button
    @apply bg-paper-plane-solid

@media screen and ( max-width: 1250px )
  .chat--title-container
    @apply w-95vw
  .chat--content-wrapper
    @apply w-95vw
  .chat--conversation-container
    .chat-bubble--from, .chat-bubble--to
      @apply max-w-90%

@keyframes bubble-left
    0%
        @apply opacity-0 blur-lg -translate-x-full
    100%
        @apply opacity-100 translate-x-0 blur-0

@keyframes bubble-right
    0%
        @apply opacity-0 blur-lg translate-x-full
    100%
        @apply bg-opacity-30 translate-x-0 blur-0




.registration--checks-container
  @apply flex flex-wrap items-center mb-2
  input
    @apply m-5px h-6 cursor-pointer w-1/12
  label
    @apply flex items-center my-5px mx-0 w-11/12

.registration--name-form
  @apply h-full flex flex-col items-center justify-around w-90%

@media screen and ( max-width: 1250px )
  .registration--registration-container
    @apply w-90vw
    h3
      @apply text-3xl
    .registration--checks-container
      img
        @apply w-2/12
      span
        @apply w-9/12 

@media screen and ( max-width: 470px )
  .registration--registration-container
    h3
      @apply text-2xl
    input
      @apply text-base




.subject-list--subjects-container
  @apply flex-row flex-wrap justify-start fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-80vw
  h2
    @apply w-full text-center mb-10px
  button
    @apply mr-2% w-4/12 mb-4

@media screen and ( max-width: 1250px )
  .subject-list--subjects-container
    button
      @apply w-48%

@media screen and ( max-width: 700px )
  .subject-list--subjects-container
    @apply max-h-90vh overflow-y-auto
    h2
      @apply text-4xl
    button
      @apply my-2 mx-0 w-full
